.venv/
.idea/
__pycache__/
*.pyc
.DS_Store

data/raw/
data/interim/
data/processed/
data/processed_test_hair_removal
data/pseudo_labels
/models/
!src/models/
experiments/
reports/figs/
reports/metrics/
wandb/
mlruns/
