experiment:
  name: dumm_maau
  seed: 0
  output_dir: experiments/

data:
  labeled_csv: data/metadata/train_labeled.csv
  unlabeled_csv: data/metadata/train_unlabeled.csv
  val_csv: data/metadata/val.csv
  test_csv: data/metadata/test.csv

  image_key: image_path
  mask_key: mask_path
  image_size: 256
  num_workers: 4

model:
  type: maau
  in_channels: 3
  out_channels: 1
  encoder_filters: [64, 128, 256, 512]
  decoder_filters: [512, 256, 128, 64]
  use_attention_gates: true
  use_antialiasing_pool: true
  final_activation: null

augmentations:
  supervised: supervised
  student_dumm: student_dumm
  teacher_dumm: teacher_dumm

training:
  device: cuda
  batch_size: 4   # 8, dla testu 4

  pretrain_epochs: 8
  round1_epochs: 10
  round2_epochs: 16

  mixed_precision: false
  early_stopping_patience: 7

loss:
  type: dice_bce_logits
  dice_weight: 0.5
  bce_weight: 0.5

optimizer:
  type: sgd
  lr: 0.001
  momentum: 0.9
  weight_decay: 0.0001

scheduler:
  type: none

metrics:
  threshold: 0.5
  eps: 1.0e-7
  names:
    - dice
    - iou
    - precision
    - recall
    - specificity

logging:
  save_every_epochs: 5
  best_model_metric: dice
  results_dir: reports/metrics/duumm/
  save_debug_predictions: true

sus:
  dropout_iterations: 4
  uncertainty_split_ratio: 0.4
  softmax_threshold: 0.9
  min_pixels_above_threshold: 0.2

pum:
  ema_teacher1: 0.999                  # α
  ema_teacher2: 0.99                   # β
  fuse: mean
  supervised_weight: 1.0
  unsupervised_weight: 0.8
  kl_scaling: true
  kl_temperature: 1.0
